.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.952000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.930000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:4.000000px;}
.ls1{letter-spacing:12.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.020610px;}
._1{width:1.031370px;}
._0{width:2.035398px;}
.fc7{color:rgb(38,38,38);}
.fc6{color:rgb(255,255,255);}
.fc4{color:rgb(128,100,162);}
.fc0{color:rgb(128,128,128);}
.fc2{color:rgb(0,112,192);}
.fc1{color:rgb(0,0,0);}
.fc5{color:rgb(45,68,146);}
.fc3{color:rgb(64,64,64);}
.fs0{font-size:36.000000px;}
.fs3{font-size:112.000000px;}
.fs6{font-size:128.000000px;}
.fs1{font-size:160.000000px;}
.fs4{font-size:192.000000px;}
.fs2{font-size:240.000000px;}
.fs7{font-size:248.000000px;}
.fs8{font-size:264.000000px;}
.fs5{font-size:352.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:11.633672px;}
.y5{bottom:39.239071px;}
.ye{bottom:43.537502px;}
.y4{bottom:72.839073px;}
.yd{bottom:77.137505px;}
.ya{bottom:139.711594px;}
.y3{bottom:146.260384px;}
.y13{bottom:153.356621px;}
.y9{bottom:187.711590px;}
.y2{bottom:211.999516px;}
.yc{bottom:246.157341px;}
.y8{bottom:261.100983px;}
.y7{bottom:322.457497px;}
.yb{bottom:345.287773px;}
.y12{bottom:352.619858px;}
.y11{bottom:354.429596px;}
.y6{bottom:388.196629px;}
.y10{bottom:417.983337px;}
.yf{bottom:419.829575px;}
.h1{height:25.875000px;}
.h4{height:89.040000px;}
.h7{height:100.992000px;}
.h2{height:127.200000px;}
.h5{height:152.640000px;}
.h3{height:190.800000px;}
.h8{height:197.160000px;}
.h9{height:209.880000px;}
.h6{height:279.840000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xc{left:13.203949px;}
.xd{left:15.050446px;}
.xa{left:23.937500px;}
.x2{left:25.558441px;}
.x5{left:28.353394px;}
.x3{left:30.642242px;}
.x6{left:34.874664px;}
.x4{left:52.943375px;}
.x8{left:57.874115px;}
.x9{left:100.750000px;}
.xe{left:123.444984px;}
.xf{left:125.291481px;}
.x1e{left:205.969528px;}
.x18{left:224.732208px;}
.x19{left:226.542206px;}
.x1a{left:251.482208px;}
.x1b{left:253.292206px;}
.x7{left:262.054199px;}
.xb{left:265.141418px;}
.x10{left:289.194977px;}
.x11{left:291.041473px;}
.x12{left:303.069977px;}
.x13{left:304.916473px;}
.x1c{left:465.482208px;}
.x1d{left:467.292206px;}
.x14{left:468.819977px;}
.x15{left:470.666473px;}
.x16{left:482.694977px;}
.x17{left:484.541473px;}
.x1{left:705.457317px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:5.333333pt;}
.ls1{letter-spacing:16.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.360814pt;}
._1{width:1.375160pt;}
._0{width:2.713865pt;}
.fs0{font-size:48.000000pt;}
.fs3{font-size:149.333333pt;}
.fs6{font-size:170.666667pt;}
.fs1{font-size:213.333333pt;}
.fs4{font-size:256.000000pt;}
.fs2{font-size:320.000000pt;}
.fs7{font-size:330.666667pt;}
.fs8{font-size:352.000000pt;}
.fs5{font-size:469.333333pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:15.511562pt;}
.y5{bottom:52.318761pt;}
.ye{bottom:58.050003pt;}
.y4{bottom:97.118764pt;}
.yd{bottom:102.850006pt;}
.ya{bottom:186.282125pt;}
.y3{bottom:195.013845pt;}
.y13{bottom:204.475494pt;}
.y9{bottom:250.282120pt;}
.y2{bottom:282.666021pt;}
.yc{bottom:328.209788pt;}
.y8{bottom:348.134644pt;}
.y7{bottom:429.943329pt;}
.yb{bottom:460.383698pt;}
.y12{bottom:470.159810pt;}
.y11{bottom:472.572795pt;}
.y6{bottom:517.595505pt;}
.y10{bottom:557.311117pt;}
.yf{bottom:559.772766pt;}
.h1{height:34.500000pt;}
.h4{height:118.720000pt;}
.h7{height:134.656000pt;}
.h2{height:169.600000pt;}
.h5{height:203.520000pt;}
.h3{height:254.400000pt;}
.h8{height:262.880000pt;}
.h9{height:279.840000pt;}
.h6{height:373.120000pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xc{left:17.605265pt;}
.xd{left:20.067261pt;}
.xa{left:31.916667pt;}
.x2{left:34.077922pt;}
.x5{left:37.804525pt;}
.x3{left:40.856323pt;}
.x6{left:46.499552pt;}
.x4{left:70.591166pt;}
.x8{left:77.165487pt;}
.x9{left:134.333333pt;}
.xe{left:164.593313pt;}
.xf{left:167.055308pt;}
.x1e{left:274.626038pt;}
.x18{left:299.642944pt;}
.x19{left:302.056274pt;}
.x1a{left:335.309611pt;}
.x1b{left:337.722941pt;}
.x7{left:349.405599pt;}
.xb{left:353.521891pt;}
.x10{left:385.593302pt;}
.x11{left:388.055298pt;}
.x12{left:404.093302pt;}
.x13{left:406.555298pt;}
.x1c{left:620.642944pt;}
.x1d{left:623.056274pt;}
.x14{left:625.093302pt;}
.x15{left:627.555298pt;}
.x16{left:643.593302pt;}
.x17{left:646.055298pt;}
.x1{left:940.609756pt;}
}
